@import '../../../App.scss';

.wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(#000, .5);
  z-index: 9999;
}

.innerWrapper {
  display: flex;
  flex-direction: column;
  width: 80vw;
  height: 40vh;
  padding: 2rem 1rem;
  background: white;
  color: black;
  background: $bgcColorPrimary;
  border-radius: 20px;
  box-shadow: 1px 1px 4px -1px rgba(0, 0, 0, .25);
  text-align: center;

  @media (min-width: $breakpointTablet) {
    width: 60vw;
    height: 40vh;
  }

  @media (min-width: $breakpointLaptopL) {
    width: 40vw;
    height: 40vh;
  }

  h2 {
    text-align: left;
    display: inline-block;
    margin-right: .5rem;
  }

  p {
    margin-top: .5rem;
  }

  input {
    margin-top: 1rem;

    @media (min-width: $breakpointTablet) {
      width: 70%;
    }
  }
}

.btnWrapper {
  margin-top: auto;
  text-align: center;
}

.walletBalance {
  color: green;

  @media(min-width: $breakpointTablet) {
    font-size: 1.4rem;
  }
}