@import '../../../App.scss';

.wrapper {
  padding: 1rem;

  i {
    color: $fontColorPrimary;
  }
}

.title {
  margin-top: 1rem;
  font-size: 1.2rem;
  font-weight: 700;
}

.date {
  font-size: .8rem;
  font-weight: 100;
}

.description {
  margin: 1rem 0;
  text-align: left;
}