@import '../../App.scss';

.wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $fontColorSecondary;

  h3 {
    margin-top: 5rem;
  }

  i {
    color: $fontColorPrimary;
    font-size: 2rem;

    @media (min-width: $breakpointTablet) {
      font-size: 4rem;
    }
  }

  span {
    color: $fontColorSecondary;
  }
}


.totalMoney {
  font-size: 2.4rem;
}

.walletOptions {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: stretch;
  margin-top: auto;
  height: 40%;
  background: $bgcColorPrimary;
  color: $fontColorPrimary;
  border-radius: 20px;

  span {
    color: $fontColorPrimary;
  }
}

.walletPayIn,
.walletPayOut {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 1.5rem;
  transition: .15s ease-in-out;

  &>* {
    width: 100%;
    text-align: center;
  }

  &:hover {
    transform: scale(1.1);
    cursor: pointer;
  }
}