@import '../../../App.scss';

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  transform: translateX(-100%);
  padding: 2rem 0 2rem 1rem;
  height: 100vh;
  width: 50%;
  display: flex;
  flex-direction: column;
  background: $bgcColorSecondary;
  color: $fontColorSecondary;
  border-radius: 20px 20px 20px 0;
  box-shadow: 2px 0 4px -1px rgba(0, 0, 0, .5);
  transition: .5s ease-in-out;
  z-index: 100;

  @media (min-width: $breakpointLaptop) {
    width: 30%;
  }

  @media (min-width: $breakpointDesktop) {
    width: 20%;
  }

  &IsOpen {
    transform: translateX(0);
  }

  &Username {
    padding: 0 .5rem;
    // color: $fontColorPrimary;

    i {
      margin-right: .5rem;
      color: $fontColorPrimary;
    }
  }

  &Wallet {
    margin-bottom: 2rem;
    padding: 0 .5rem;
    // color: $fontColorPrimary;

    i {
      margin-right: .5rem;
      color: $fontColorPrimary;
    }
  }

  &List {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }

  &Item {
    padding: .5rem;
    margin: .5rem 0;
    display: flex;
    align-items: center;
    color: $fontColorSecondary;
    font-size: .8rem;
    border-radius: 20px 0 0 20px;
    transition: .15s ease-in-out;
    text-decoration: none;
    cursor: pointer;

    &Active {
      color: $fontColorPrimary;
      background: $bgcColorPrimary;
    }

    &:nth-child(7) {
      position: relative;
    }

    &:last-child {
      margin-top: auto;
    }

    &:hover {
      background: $bgcColorPrimary;
      color: $fontColorPrimary;
    }

    i {
      margin-right: .5rem;
      color: $fontColorPrimary;
      font-size: 1.2rem;
    }
  }
}

.responseCreditMailNotification {
  color: $fontColorPrimary;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: absolute;
  top: 50%;
  right: 5%;
  transform: translateY(-50%);
  width: 22px;
  height: 22px;
  background: $fontColorGray;
  border-radius: 50%;
}