@import '../../App.scss';

.wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  &>* {
    margin: 1rem 0;

    @media (min-width: $breakpointTablet) {
      margin: 2rem 0;
    }
  }

  i {
    margin: 0 .5rem;
    font-size: 1.5rem;
    color: $fontColorGray;
    transition: .2s ease-in-out;
    cursor: pointer;

    &.selectedCurrencyStyle {
      color: $fontColorGreen;
      transform: scale(1.5);
    }
  }


  h3 {
    margin-bottom: .5rem;
    font-size: 1.4rem;
    font-weight: 900;
    text-align: center;
  }
}