@import '../../../App.scss';

.message {
  display: flex;
  // justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
  border-bottom: 1px solid rgba($fontColorGray, .5);
  transition: .15s ease-in-out;

  &:nth-child(2) {
    margin-top: 2rem;
  }

  &Title {
    font-weight: 700;
  }

  &Description {
    margin-left: 1rem;
    font-size: .8rem;
  }

  &Date {
    margin-left: auto;
    font-size: .8rem;
    font-weight: 100;
  }

  &:hover {
    // transform: translateY(-1px);
    border-color: $fontColorGray;

    cursor: pointer;
    // background: darken(#fff, 5%);
  }
}