@import '../../../App.scss';

.wrapper {

  h2 {
    margin: 1rem 0;
  }

  i {
    color: $fontColorPrimary;
  }
}

.investment {
  margin: 1rem 0;

  p {
    font-weight: 700;
    text-align: left;
  }

  span {
    font-weight: 300;
  }

}

.total {
  p {
    font-weight: 700;
    text-align: left;
  }

  span {
    font-weight: 300;
  }
}

.btnWrapper {
  margin-top: 2rem;
  text-align: center;
}